
.title {
    padding:30px;
    text-align: center;
    font-size: 50px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main img {
   max-width: 600px;
}

.main-info {
    max-width: 500px;
}

.main-info p {
    font-size: 20px;
    color: #404a8f;
}

.main-info ul {
    padding-left: 17px;
}

.main-info a {
    font-size: 20px;
    color: #006dd4;
}

.form {
    max-width: 420px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}